<div class="modal fade" id="NotifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enviar notificação</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="formNotify">
          <div class="mb-3">
            <label class="small mb-1" for="notifyTitle">Titulo curto</label>
            <input name="notifyTitle" class="form-control" id="notifyTitle" type="text">
          </div>

          <div class="mb-3">
            <label class="small mb-1" for="notifyMessage">Mensagem curta</label>
            <input name="notifyMessage" class="form-control" id="notifyMessage" type="text">
          </div>

          <div class="col-md-6">
            <label class="small mb-1" for="category">Enviar para</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="to" id="to-staffs" value="staffs" checked>
              <label class="form-check-label" for="to-staffs">
                Funcionários
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="to" id="to-customers" value="customers">
              <label class="form-check-label" for="to-customers">
                Clientes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="to" id="to-all" value="all">
              <label class="form-check-label" for="to-all">
                Todos
              </label>
            </div>

            <label class="small mb-1" for="category">Por meio de</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="way" id="way-apps" value="apps" checked>
              <label class="form-check-label" for="way-apps">
                Notificação nos apps
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="way" id="way-email" value="email">
              <label class="form-check-label" for="way-email">
                E-mail
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="way" id="way-all" value="all">
              <label class="form-check-label" for="way-all">
                Todos
              </label>
            </div>
          </div>

          <input type="text" name="type" value="SEND_NOTIFY" style="display: none;">
          <button class="btn btn-primary" style="width: 100%; margin-top: 20px" type="submit">Enviar
            notificações</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script>
  const formNotify = document.getElementById("formNotify");

  formNotify.addEventListener("submit", (event) => {
    event.preventDefault();

    const notifyTitle = document.getElementById("notifyTitle").value;
    const notifyMessage = document.getElementById("notifyMessage").value;

    let to;

    if (document.getElementById("to-staffs").checked) {
      to = 'staffs';
    } else if (document.getElementById("to-customers").checked) {
      to = 'customers';
    } else {
      to = 'all';
    }

    let way;

    if (document.getElementById("way-apps").checked) {
      way = 'apps';
    } else if (document.getElementById("way-email").checked) {
      way = 'email';
    } else {
      way = 'all';
    }

    const data = {
      notifyTitle,
      notifyMessage,
      to,
      way,
      type: 'SEND_NOTIFY'
    }

    console.log(data);

    axios.post("/dashboard", data)
      .then((response) => {
        location.href = response.request.responseURL
        formNotify.reset();
      })
      .catch((error) => {
        console.log(error);
      });
  });
</script>