<%- include('../partials/header.ejs') %>

    <!-- ====== Hero Start ====== -->
    <section class="ud-hero" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
                        <h1 class="ud-hero-title">
                            Simplifique a gestão da sua empresa.
                        </h1>
                        <p class="ud-hero-desc">
                            Gerencie clientes, projetos, equipes e integre as principais marcas de inversores
                            à sua conta.
                        </p>
                        <ul class="ud-hero-buttons">
                            <li>
                                <a href="/registro" target="_blank" class="ud-main-btn ud-white-btn">
                                    Registrar agora
                                </a>
                            </li>
                            <li>
                                <a href="/#features" class="ud-main-btn ud-link-btn">
                                    Ler mais <i class="lni lni-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
                        <img src="landing/assets/images/hero/brand.svg" alt="brand" />
                    </div>
                    <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
                        <img src="/landing/assets/images/hero/hero-image.png" alt="hero-image" />
                        <img src="/landing/assets/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />
                        <img src="/landing/assets/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Hero End ====== -->

    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-section-title">
                        <span>Funções</span>
                        <h2>Funções principais do Connect</h2>
                        <p>
                            Controle total, com site administrador e aplicativos para seus clientes e equipes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Clientes</h3>
                            <p class="ud-feature-desc">
                                Gerencie seus clientes de forma prática, esse registro é essencial para que possam
                                acessar o app Connect: Cliente!
                            </p>
                            <!--
                                 <a href="javascript:void(0)" class="ud-feature-link">
                                Learn More
                            </a>
                            -->

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Projetos</h3>
                            <p class="ud-feature-desc">
                                Gerencie seus projetos de forma prática, adicione status e informações de rastreio.
                                Para finalizar um projeto, sua equipe precisa adicionar todos os documentos
                                obrigatórios.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-users-cog"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Equipes</h3>
                            <p class="ud-feature-desc">
                                Gerencie sua equipe e permita o acesso ao sistema!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-file-invoice"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Documentos</h3>
                            <p class="ud-feature-desc">
                                Gerencie os documentos de um sistema ou cliente de forma prática, crie uma lista
                                nas configurações e aplique para que sua equipe adicione todos os obrigatórios.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Integrações</h3>
                            <p class="ud-feature-desc">
                                Nosso sistema possui integração com as principais marcas de inversores!
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Chamados</h3>
                            <p class="ud-feature-desc">
                                Sua equipe pode ser acionada pelo seu cliente a qualquer momento,
                                o sistema solicita informações como descrição do problema e gera um chamado. Sua equipe
                                pode aceitar o chamado e ao finalizar, anexar imagens e descrever a solução do problema.
                                O administrador também pode abrir chamados: corretivos, preventivos e de instalação!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-exclamation"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Reclamações</h3>
                            <p class="ud-feature-desc">
                                Possibilita que seu cliente realize reclamações pelo app, você também pode
                                responder.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-bell"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Notificações</h3>
                            <p class="ud-feature-desc">
                                O sistema permite que envie notificações personalizadas para seus
                                clientes ou equipes, mas se preferir, pode enviar para todos. Selecione
                                se deseja enviar pelo app ou e-mail!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                        <div class="ud-feature-icon">
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <div class="ud-feature-content">
                            <h3 class="ud-feature-title">Segurança</h3>
                            <p class="ud-feature-desc">
                                Todos os dados são protegidos e o sistema ainda conta com
                                alerta de login e tentativa de login, com exibição de IP e
                                outros dados.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Features End ====== -->

    <!-- ====== About Start ======
    <section id="about" class="ud-about">
        <div class="container">
            <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
                <div class="ud-about-content-wrapper">
                    <div class="ud-about-content">
                        <span class="tag">About Us</span>
                        <h2>Brilliant Toolkit to Build Nextgen Website Faster.</h2>
                        <p>
                            The main ‘thrust’ is to focus on educating attendees on how to
                            best protect highly vulnerable business applications with
                            interactive panel discussions and roundtables led by subject
                            matter experts.
                        </p>

                        <p>
                            The main ‘thrust’ is to focus on educating attendees on how to
                            best protect highly vulnerable business applications with
                            interactive panel.
                        </p>
                        <a href="javascript:void(0)" class="ud-main-btn">Learn More</a>
                    </div>
                </div>
                <div class="ud-about-image">
                    <img src="landing/assets/images/about/about-image.svg" alt="about-image" />
                </div>
            </div>
        </div>
    </section>
    - ====== About End ====== -->

    <!-- ====== Pricing Start ====== -->
    <section id="pricing" class="ud-pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-section-title mx-auto text-center">
                        <span>Assinatura</span>
                        <h2>Informações gerais</h2>
                        <p>
                            Nosso sistema é disponibilizado via assinatura.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row g-0 align-items-center justify-content-center">

                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="ud-single-pricing active wow fadeInUp" data-wow-delay=".1s">
                        <span class="ud-popular-tag">Popular</span>
                        <div class="ud-pricing-header">
                            <h3>Apenas</h3>
                            <h4>R$ 199,90/mês</h4>
                        </div>
                        <div class="ud-pricing-body">
                            <ul>
                                <li>Todo o sistema ilimitado</li>
                            </ul>
                        </div>
                        <div class="ud-pricing-footer">
                            <a href="/registro" class="ud-main-btn ud-white-btn">
                                Registrar agora
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ====== Pricing End ====== -->

    <!-- ====== FAQ Start ====== -->
    <section id="faq" class="ud-faq">
        <div class="shape">
            <img src="landing/assets/images/faq/shape.svg" alt="shape" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ud-section-title text-center mx-auto">
                        <span>FAQ</span>
                        <h2>Alguma dúvida?</h2>
                        <p>
                            Pontuamos algumas dúvidas comuns, clique na seta para ver a resposta!
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Tem alguma limitação de usuários ou dados?</span>
                            </button>
                            <div id="collapseOne" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    NENHUMA. A assinatura única mensal libera o acesso integral ao Connect!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Como eu baixo os aplicativos?</span>
                            </button>
                            <div id="collapseTwo" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    <p> O aplicativo para os clientes você baixa <a
                                            href="https://play.google.com/store/apps/details?id=com.dlwalt.cliente"
                                            target="_blank" rel="noopener noreferrer">nesse link</a></p>
                                    <p> O aplicativo para as equipes você baixa <a
                                            href="https://play.google.com/store/apps/details?id=com.dlwalt.equipe"
                                            target="_blank" rel="noopener noreferrer">nesse link</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Se minha assinatura atrasar, meus clientes ou equipe vão ter o acesso
                                    bloqueado?</span>
                            </button>
                            <div id="collapseThree" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    <p><b>NÃO</b>. Apenas o acesso administrador vai ter seu acesso bloqueado,
                                        entendemos
                                        que sua utilização do Connect é muito importante e não queremos prejudicar de
                                        nenhuma forma
                                        sua imagem. Sua equipe vai poder atender normalmente e seus clientes vão
                                        utilizar normalmente, mas lembre-se <b>o atraso do pagamento gera juros ao mês,
                                            caso precise, negocie com nossa equipe.</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Em quais horas o suporte técnico está disponível?</span>
                            </button>
                            <div id="collapseFour" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    O suporte é 24/7, isso significa que estaremos de prontidão 24 horas.
                                    Caso precise, entre em contato com o e-mail: contato@dlwalt.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Vocês compartilham ou salvam dados sensíveis?</span>
                            </button>
                            <div id="collapseFive" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    O Connect salva apenas dados comuns de assinaturas, nós nos reservamos
                                    o direito de <b>não</b> salvar seus dados bancários, como cartão de crédito e
                                    outros.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
                        <div class="accordion">
                            <button class="ud-faq-btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix">
                                <span class="icon flex-shrink-0">
                                    <i class="lni lni-chevron-down"></i>
                                </span>
                                <span>Quais os métodos de pagamento?</span>
                            </button>
                            <div id="collapseSix" class="accordion-collapse collapse">
                                <div class="ud-faq-body">
                                    Pix, boleto e cartão de crédito.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== FAQ End ====== -->
    <!-- ====== Contact Start ====== -->
    <section id="contact" class="ud-contact">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-7">
                    <div class="ud-contact-content-wrapper">
                        <div class="ud-contact-title">
                            <span>Fale conosco</span>
                            <h2>
                                Vamos conversar? <br />
                                Iremos amar ouvir você!
                            </h2>
                        </div>
                        <div class="ud-contact-info-wrapper">
                            <div class="ud-single-info">
                                <div class="ud-info-icon">
                                    <i class="lni lni-map-marker"></i>
                                </div>
                                <div class="ud-info-meta">
                                    <h5>Sede principal</h5>
                                    <p>Rua Acácia, 1686, sala A, Setor 01 - Ariquemes - Rondônia</p>
                                    <p><b>V SILVA E SILVA LTDA - 26.711.744/0001-08</b></p>
                                </div>
                            </div>
                            <div class="ud-single-info">
                                <div class="ud-info-icon">
                                    <i class="lni lni-envelope"></i>
                                </div>
                                <div class="ud-info-meta">
                                    <h5>Como podemos ajudar?</h5>
                                    <p>www.dlwalt.com</p>
                                    <p>contato@dlwalt.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-5">
                    <div class="ud-contact-form-wrapper wow fadeInUp" data-wow-delay=".2s">
                        <h3 class="ud-contact-form-title">Nos envie uma mensagem</h3>
                        <form class="ud-contact-form">
                            <div class="ud-form-group">
                                <label for="fullName">Nome Completo*</label>
                                <input type="text" id="fullName" name="fullName" placeholder="José Silva" />
                            </div>
                            <div class="ud-form-group">
                                <label for="email">Email*</label>
                                <input type="email" id="email" name="email" placeholder="exemplo@seuemail.com" />
                            </div>
                            <div class="ud-form-group">
                                <label for="message">Mensagem*</label>
                                <textarea id="message" name="message" rows="1"
                                    placeholder="Escreva sua mensagem aqui"></textarea>
                            </div>
                            <div class="ud-form-group mb-0">
                                <button type="submit" class="ud-main-btn" onclick="sendWhatsAppMessage(event)">
                                    Enviar Mensagem
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <script>
                    function sendWhatsAppMessage(event) {
                        event.preventDefault(); // Impede o envio do formulário

                        var fullName = document.getElementById("fullName").value;
                        var email = document.getElementById("email").value;
                        var message = document.getElementById("message").value;

                        // Cria o link do WhatsApp com as informações do formulário
                        var url = "https://wa.me/556892253306?text=";
                        url += encodeURIComponent("Nome: " + fullName + "\n");
                        url += encodeURIComponent("Email: " + email + "\n");
                        url += encodeURIComponent("Mensagem: " + message);

                        // Abre a janela do WhatsApp com o link gerado
                        window.open(url);
                    }
                </script>



            </div>
        </div>
    </section>
    <!-- ====== Contact End ====== -->
    <%- include('../partials/footer.ejs') %>