<div
  class="modal fade"
  id="CreateSurvey"
  tabindex="-1"
  role="dialog"
  aria-labelledby="teamModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teamModalLabel">Novo chamado</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 40px">
        <select
          id="selectTipoChamado"
          class="form-control"
          style="margin-bottom: 20px"
          required
        >
          <option selected>Selecione o tipo de chamado</option>
          <option value="preventivo">Preventivo</option>
          <option value="corretivo">Corretivo</option>
        </select>

        <div style="display: none" id="preventivo">
          <form method="post">
            <input name="type" value="preventivo" style="display: none" />
            <select name="projectID" class="form-control">
              <% projects.forEach(p => { %>
              <option value="<%=p.key%>"><%=p.data.apelidoProjeto %></option>
              <% }); %>
            </select>
            <button
              style="margin-top: 20px; width: 100%"
              class="btn btn-primary"
              type="submit"
            >
              Solicitar
            </button>
          </form>
        </div>
        <div style="display: none" id="corretivo">
          <form method="post" id="form">
            <input name="type" value="corretivo" style="display: none" />
            <select
              name="projectID"
              class="form-control"
              style="margin-bottom: 20px"
            >
              <% projects.forEach(p => { %>
              <option value="<%=p.key%>"><%=p.data.apelidoProjeto %></option>
              <% }); %>
            </select>
            <div class="mb-3">
              <label class="small mb-1" for="sobrechamado"
                >Sobre o chamado</label
              >
              <input
                name="sobrechamado"
                class="form-control"
                placeholder="Cliente informou que esta havendo aquecimento nos cabos."
                id="sobrechamado"
                type="text"
                required
              />
            </div>

            <div id="picturesPreview" style="display: flex;
            flex-wrap: nowrap; 
            overflow-x: scroll;">
              
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="pics">Fotos</label>
              <input
                type="file"
                class="form-control"
                name="pics"
                id="pics"
                accept="image/png, image/gif, image/jpeg"
                onchange="picsToBase64()"
                multiple
              />
              <input
                type="text"
                name="pics64"
                id="pics64"
                style="display: none"
              />
            </div>
            <button
              style="margin-top: 20px; width: 100%"
              class="btn btn-primary"
              type="submit"
            >
              Solicitar
            </button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const selectTipoChamado = document.getElementById("selectTipoChamado");
  const preventivoDiv = document.getElementById("preventivo");
  const corretivoDiv = document.getElementById("corretivo");

  selectTipoChamado.addEventListener("change", function () {
    if (selectTipoChamado.value === "preventivo") {
      preventivoDiv.style.display = "block";
      corretivoDiv.style.display = "none";
    } else if (selectTipoChamado.value === "corretivo") {
      preventivoDiv.style.display = "none";
      corretivoDiv.style.display = "block";
    } else {
      preventivoDiv.style.display = "none";
      corretivoDiv.style.display = "none";
    }
  });

  async function picsToBase64() {
    const files = document.getElementById("pics").files;

    if (files.length === 0) return;

    let picsArray = [];
    
    /*if (document.getElementById("pics64").value !== "") {
      try {
        picsArray = JSON.parse(document.getElementById("pics64").value);
      } catch (error) {
        console.error("Erro ao analisar string JSON:", error);
      }
    }*/

    for (let index = 0; index < files.length; index++) {
      const file = files[index];
      const reader = new FileReader();

      const base64 = await new Promise((resolve) => {
        reader.onload = () => resolve(reader.result);
        reader.readAsDataURL(file);
      });

      picsArray.push(base64);
    }

    document.getElementById("pics64").value = JSON.stringify(picsArray);

    // preview images

    const picturesPreview = document.getElementById("picturesPreview");
    picturesPreview.innerHTML = "";

    picsArray.forEach((pic) => {
      const div = document.createElement("div");
      const img = document.createElement("img");
      img.src = pic;
      img.style.width = "100%";
      img.style.height = "auto";
      img.style.maxHeight = "200px";
      img.style.objectFit = "cover";
      img.style.margin = "0 5px";
      div.appendChild(img);
      picturesPreview.appendChild(div);
    });
  }
</script>
