<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="luarrekcah">
    <title>D | Walt Connect para Empresas</title>

    <link rel="icon" type="image/png" href="/img/icon.png">

    <link rel="manifest" href="/manifest.json">

    <meta property="og:title" content="Login D | Walt Connect: Empresas" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Faça o login para acessar a página integrador" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="https://connect.dlwalt.com/" />
    <meta property="og:site_name" content="D | Walt Connect: Empresas" />
    <meta property="fb:admins" content="dlwalt" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://connect.dlwalt.com/" />
    <meta name="twitter:title" content="Login" />
    <meta name="twitter:description" content="Faça o login para acessar a página integrador" />
    <meta name="twitter:image" content="" />

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6 mx-auto">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                                            <!-- Credit card form tabs -->
                                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                                <li class="nav-item"> <a data-toggle="pill" href="#credit-card"
                                                        class="nav-link active "> <i
                                                            class="fas fa-credit-card mr-2"></i> Cartão </a> </li>
                                                <li class="nav-item"> <a data-toggle="pill" href="#boleto"
                                                        class="nav-link "> <i class="fab fa-paypal mr-2"></i> Boleto
                                                    </a> </li>
                                                <li class="nav-item"> <a data-toggle="pill" href="#pix"
                                                        class="nav-link "> <i class="fa-brands fa-pix mr-2"></i> PIX
                                                    </a> </li>
                                            </ul>
                                        </div> <!-- End -->
                                        <!-- Credit card form content -->
                                        <div class="tab-content">
                                            <!-- credit card info-->
                                            <div id="credit-card" class="tab-pane fade show active pt-3">
                                                <form role="form" onsubmit="event.preventDefault()">
                                                    <div class="form-group">

                                                        <label for="">
                                                            <h6>Nome no cartão</h6>
                                                        </label>

                                                        <input type="text" id="holderName" required
                                                            class="form-control">

                                                        <label for="cardNumber">
                                                            <h6>Número do cartão</h6>
                                                        </label>
                                                        <div class="input-group"> <input type="text" id="cardNumber"
                                                                placeholder="Número de cartão válido"
                                                                class="form-control " required>
                                                            <div class="input-group-append"> <span
                                                                    class="input-group-text text-muted"> <i
                                                                        class="fab fa-cc-visa mx-1"></i> <i
                                                                        class="fab fa-cc-mastercard mx-1"></i> <i
                                                                        class="fab fa-cc-amex mx-1"></i> </span> </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <div class="form-group"> <label><span class="hidden-xs">
                                                                        <h6>Validade</h6>
                                                                    </span></label>
                                                                <div class="input-group"> <input type="number"
                                                                        placeholder="MM" id="expiryMonth"
                                                                        class="form-control" required> <input
                                                                        type="number" placeholder="AA" id="expiryYear"
                                                                        class="form-control" required> </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group mb-4"> <label data-toggle="tooltip"
                                                                    title="Three digit CV code on the back of your card">
                                                                    <h6>CVV
                                                                    </h6>
                                                                </label> <input type="number" id="cvv" required
                                                                    class="form-control"> </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <p class="text-muted"><b>OBS:</b> A cobrança será realizada
                                                        diretamente no cartão informado ou através dos canais de
                                                        comunicação. (SMS/WhatsApp/Email)</p>
                                                    <hr>
                                                    <p class="text-muted">Por questões de segurança nos reservamos o
                                                        direito de <b>NÃO</b> salvar os seus dados de pagamento no nosso
                                                        banco de dados. Sendo armazenados <b>somente</b> no provedor de
                                                        pagamentos.</p>

                                                    <div class="card-footer"> <button type="button"
                                                            onclick="makePayment('card')"
                                                            class="btn btn-primary btn-user btn-block">
                                                            Confirmar R$44,90 </button>
                                                </form>
                                            </div>
                                        </div> <!-- End -->
                                        <!-- Paypal info -->
                                        <div id="boleto" class="tab-pane fade pt-3">
                                            <h6 class="pb-2">Boleto</h6>

                                            <p class="text-muted">Primeira mensalidade do sistema Connect. Validade após
                                                31 dias depois do pagamento.</p>
                                            <hr>
                                            <p>Valor da mensalidade:</p>
                                            <div class="row text-center justify-content-center">
                                                <p>R$</p>
                                                <h2>44,90</h2>
                                            </div>
                                            <hr>
                                            <p class="text-muted"><b>OBS:</b> A cobrança será realizada através dos
                                                canais de comunicação. (SMS/WhatsApp/Email)</p>


                                            <button type="button" class="btn btn-primary btn-user btn-block" onclick="makePayment('boleto')">
                                                Gerar boleto </button>
                                        </div> <!-- End -->
                                        <!-- bank transfer info -->
                                        <div id="pix" class="tab-pane fade pt-3">
                                            <h6 class="pb-2">Pix</h6>

                                            <p class="text-muted">Primeira mensalidade do sistema Connect. Validade após
                                                31 dias depois do pagamento.</p>
                                            <hr>
                                            <p>Valor da mensalidade:</p>
                                            <div class="row text-center justify-content-center">
                                                <p>R$</p>
                                                <h2>44,90</h2>
                                            </div>

                                            <hr>
                                            <p class="text-muted"><b>OBS:</b> A cobrança será realizada através dos
                                                canais de comunicação. (SMS/WhatsApp/Email)</p>

                                            <button type="button" class="btn btn-primary btn-user btn-block"  onclick="makePayment('pix')">
                                                Gerar QR </button>
                                        </div> <!-- End -->
                                        <!-- End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        function makePayment(type) {
            if (type === "card") {
                const holderName = document.getElementById("holderName").value,
                    number = document.getElementById("cardNumber").value,
                    expiryMonth = document.getElementById("expiryMonth").value,
                    expiryYear = document.getElementById("expiryYear").value,
                    cvv = document.getElementById("cvv").value

                if (holderName === '' || number === '' || expiryMonth === '' || expiryYear === '' || cvv === '') return alert("Os dados não podem ficar vazios.");

                if (Number(expiryMonth) > 12 && Number(expiryMonth) <= 0) return alert("O mês de validade não pode ser maior que 12.");
                if (cvv.length > 3) return alert("CVV só possui 3 números.");

                axios.post('/pagamento/assinatura', {
                    type: "card",
                    data: {
                        holderName,
                        number,
                        expiryMonth,
                        expiryYear,
                        cvv
                    }
                })
                    .then(function (response) {
                        console.log(response);
                    });
            } else if (type === 'boleto') { 
                axios.post('/pagamento/assinatura', {
                    type: "boleto",
                });
                //encaminhar para uma página falando que o pix foi enviado ao numero/email
                //assim que pago deve aguardar e tentar fazer login. 
            } else {
                axios.post('/pagamento/assinatura', {
                    type: "pix",
                })
                //encaminhar para uma página falando que o pix foi enviado ao numero/email
                //assim que pago deve aguardar e tentar fazer login. 
            }
        }
    </script>
</body>

</html>